{% extends 'base.html.twig' %}

{% block title %}Profil Restaurateur{% endblock %}


{% block navbaritems %}

    <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard/restaurateur">Dashboard</a>
        <a class="nav-link" href="/profil/restaurateur">Profil</a>
    </div>

    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}

<div class="card mx-auto" style="width: 90rem; margin-top : 15px">
  <div class="card-body">
    <h5 class="card-title">Profil du Restaurateur</h5>
        <div class="container">
            <div class="row">
                <div class="col">
     
                    {{ form_start(ProfilRestaurateurForm) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Nom, { label : "Votre nom" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Prenom, { label : "Votre prénom:" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Mail, { label : "Votre mail" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Telephone, { label : "Numéro de téléphone" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_adresse, { label : "Adresse" }) }}
                        
                        <button type="submit" class="btn btn-dark">Sauvegarder</button>
                    {{ form_end(ProfilRestaurateurForm) }}

                </div>
                <div class="col">
                </div>
            </div>
        </div>
  </div>
</div>
 
    <!--  <a href="/profil/restaurateur/restaurant/add/p1" class="nav-link" style="color: #212529">Ajouter un restaurant</a> -->
<div class="card mx-auto" style="width: 90rem; margin-top : 15px">
    <div class="card-body text-center">

        <button type="button" onclick='window.location.href = "/profil/restaurateur/restaurant/add/p1"' class="btn btn-outline-success mb-3">Ajouter un restaurant</button>

        <ul class="nav nav-tabs justify-content-center">

            {% for restaurant in listeRestaurant %}
                <li class="nav-item" style="margin-right: 5px">
                    {% if loop.index == 1 %}
                    <a href="#{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}" class="nav-link active" data-bs-toggle="tab" style=" color: black;">{{ restaurant.getRELibelle() }}</a>
                    {% else %}
                    <a href="#{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}" class="nav-link" data-bs-toggle="tab" style=" color: black;">{{ restaurant.getRELibelle() }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            
                
        </ul>

           
        <div class="tab-content">

            {% for restaurant in listeRestaurant %}

                {% if loop.index == 1 %}
                <div class="tab-pane fade show active" id="{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}">
                {% else %}
                <div class="tab-pane fade" id="{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}">
                {% endif %}
                
                    <div class="container">
                        <div class="row">
                            <div class="col">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Jours</th>
                                            <th scope="col">Horaire Midi</th>
                                            <th scope="col">Horaire Soir</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for horaireResto in restaurant.getHoraireRestaurants() %}

                                            <tr>
                                                <th scope="row">{{ horaireResto.getFKSEM().getSEMLibelle }}</th>
                                                <td>{{ horaireResto.getHoraireDebutMidi() ~"-"~ horaireResto.getHoraireFinMidi() }}</td>
                                                <td>{{ horaireResto.getHoraireDebutSoir() ~"-"~ horaireResto.getHoraireFinSoir() }}</td>
                                            </tr>

                                        {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                            <div class="col">

                                <div class="card mx-auto mt-3" style="width: 25rem;">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">Restaurant : {{ restaurant.getRELibelle() }}</h5>
                                        <p class="card-text">
                                        
                                        adresse : {{ restaurant.getREAdresse() }}

                                        </p>

                                        <ul class="list-group">
                                            {% for categorieResto in restaurant.getCategories() %}

                                                <li class="list-group-item">{{ categorieResto.getCALibelle() }}</li>
                                                
                                            {% endfor %}
                                        </ul>

                                        <button type="button" onclick='window.location.href = "/profil/restaurateur/restaurant/modify/p1/?rest={{ restaurant.getId() }}"' class="btn btn-dark mt-3">Modifier le restaurant</button>
                                       <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}" class="btn btn-danger mt-3">Supprimer le restaurant</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Safe Delete-->
                <div class="modal fade" id="deleteModal{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Supprimer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Vous allez supprimer : {{ restaurant.getRELibelle() }}
                                <form method="post" id="delForm">
                                    <button type="submit" class="btn btn-danger mt-3">Supprimer le restaurant</button>
                                    <input type="hidden" name="delete" value="{{ restaurant.getId() }}"/>
                                </form>
                            </div>
                            <div class="modal-footer">                                
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</div>  

{% endblock %}