{% extends 'base.html.twig' %}

{% block title %}Profil Restaurateur{% endblock %}

{% block navbaritems %}

    <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard/restaurateur">Dashboard</a>
        <a class="nav-link" href="/profil/restaurateur">Profil</a>
    </div>

    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}



<div class="card mx-auto" style="width: 90rem; margin-top : 15px">
  <div class="card-body">
    <h5 class="card-title">Profil du Restaurateur</h5>
        <div class="container">
            <div class="row">

                <div class="col">
     
                    {{ form_start(ProfilRestaurateurForm) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Nom, { value : restaurateurName, label : "Votre nom" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Prenom, { value : restaurateurPrenom, label : "Votre prénom:" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Mail, { value : restaurateurMail, label : "Votre mail" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_Telephone, { value : restaurateurTel, label : "Numéro de téléphone" }) }}
                        {{ form_row(ProfilRestaurateurForm.RES_adresse, { value : restaurateurAdresse, label : "Adresse" }) }}
                        
                        <button type="submit" class="btn btn-dark">Sauvegarder</button>
                    {{ form_end(ProfilRestaurateurForm) }}

                </div>
                <div class="col">
                </div>

            </div>
        </div>
  </div>
</div>


<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a href="#tab1" class="nav-link active" data-bs-toggle="tab">restemp</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link" data-bs-toggle="tab">Ajouter un restaurant</a>
    </li>
   
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="tab1">
      
        <div class="container">
            <div class="row">

                <div class="col">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Jours</th>
                                <th scope="col">Horaire Midi</th>
                                <th scope="col">Horaire Soir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Lundi</th>
                                <td>11H30 - 15H00</td>
                                <td>18h15 - 23H00</td>
                            </tr>
                            <tr>
                                <th scope="row">Mardi</th>
                                <td>11H30 - 15H00</td>
                                <td>18h15 - 23H00</td>
                            </tr>
                            <tr>
                                <th scope="row">Mercredi</th>
                                <td>11H30 - 15H00</td>
                                <td>18h15 - 23H00</td>
                            </tr>
                            <tr>
                                <th scope="row">Jeudi</th>
                                <td>11H30 - 15H00</td>
                                <td>18h15 - 23H00</td>
                            </tr>
                            <tr>
                                <th scope="row">Vendredi</th>
                                <td>11H30 - 15H00</td>
                                <td>18h15 - 23H00</td>
                            </tr>
                            <tr>
                                <th scope="row">Samedi</th>
                                <td>11H30 - 15H00</td>
                                <td>18h15 - 23H00</td>
                            </tr>
                            <tr>
                                <th scope="row">Dimanche</th>
                                <td>11H30 - 15H00</td>
                                <td>18h15 - 23H00</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col">
                   
                    data droite


                </div>
            </div>
        </div>
   </div>
</div>












    <!--

 {{ form_start(CreerRestaurantType) }}
                        {{form_row(CreerRestaurantType.RE_Libelle, { label : "Nom du restaurant" })}}        
                        {{form_row(CreerRestaurantType.RE_Adresse, { label : "Adresse du restaurant" })}}
                        {{form_row(CreerRestaurantType.FK_VI_id, { label : "Ville" })}}
                        {{form_row(CreerRestaurantType.categories, { label : "Categories" })}}
                        <button type="submit" class="btn btn-dark">Sauvegarder</button>
                    {{ form_end(CreerRestaurantType) }}

   
-->
{% endblock %}
