{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="card mx-auto" style="width: 18rem; margin-top: 10%">
    <div class="card-body">
        <h5 class="card-title">Inscription</h5>
        {{ form_start(registrationForm) }}
            <div class="mb-3">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>

             {{ form_row(registrationForm.accountType, {
                    label: 'Type de compte'
                }) }}

            {{ form_row(registrationForm.agreeTerms) }}
           
            <button type="submit" class="btn btn-dark">S'inscrire</button>
            <button type="button" onclick='window.location.href = "/login"' class="btn btn-light">Se connecter</button>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% endblock %}