{% extends 'base.html.twig' %}

{% block title %}Profil Client{% endblock %}

{% block navbaritems %}

    <div class="navbar-nav">
        <a class="nav-link" href="/dashboard/client">Dashboard</a>
        <a class="nav-link active" href="/profil/client">Profil</a>
        <a class="nav-link" href="/client/commandeEnCours">Commandes</a>
        <a class="nav-link" href="/client/historiqueCommande">Historique des Commandes</a>
    </div>

    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}



<div class="card mx-auto" style="width: 90rem; margin-top : 15px">
  <div class="card-body">
    <h5 class="card-title">Profil du Client</h5>
        <div class="container">
            <div class="row">

                <div class="col">
     
                    {{ form_start(ProfilClientForm) }}
                        {{ form_row(ProfilClientForm.CL_Nom, {label : "Votre nom" }) }}
                        {{ form_row(ProfilClientForm.CL_Prenom, {label : "Votre prénom:" }) }}
                        {{ form_row(ProfilClientForm.CL_Mail, {label : "Votre mail" }) }}
                        {{ form_row(ProfilClientForm.CL_Telephone, {label : "Numéro de téléphone" }) }}
                        {{ form_row(ProfilClientForm.CL_Adresse, {label : "Adresse" }) }}
                        {{ form_row(ProfilClientForm.FK_VI, {label : "Ville" }) }}
                        
                        <button type="submit" class="btn btn-dark">Sauvegarder</button>
                    {{ form_end(ProfilClientForm) }}

                </div>
                <div class="col">
                </div>

            </div>
        </div>
  </div>
</div>
{% endblock %}
