{% extends 'base.html.twig' %}

{% block title %}Dashboard Livreur{% endblock %}

{% block navbaritems %}
     <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard/livreur">Dashboard</a>
        <a class="nav-link" href="/profil/livreur">Profil</a>
    </div>
    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}
{% block body %}


<div class="container">
    <div class="row">

        <div class="col">

            <div class="card mx-auto mt-4" style="width: 35rem; height: 40rem">
                <div class="card-body">
                    <h5 class="card-title">Dashboard du livreur</h5>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Adresse restaurant</th>
                                <th>Heure de la commande</th>
                                <th>Adresse de Livraison</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commandes %}
                                <tr>
                                    <td>{{commande.id}}</td>
                                    <td>{{commande.restaurantAdresse}}</td>
                                    <td>{{commande.dateCommande}}</td>
                                    <td>{{commande.livraisonAdresse}}</td>
                                    <td>

                                    <form method="post" id="prendreEnCharge">
                                        <button typoe="submit" class="btn btn-dark">Prendre la commande</button>
                                        <input type="hidden" name="prendreEnCharge" value="{{ commande.id }}"/>
                                    </form>

                                    
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
        <div class="col">

            <div class="card mx-auto mt-4" style="width: 35rem; height: 40rem">
                <div class="card-body">
                    <h5 class="card-title">Livraison prise en charge</h5>     
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Adresse restaurant</th>
                                <th>Heure de la commande</th>
                                <th>Adresse de Livraison</th>
                                <th>Etat</th>
                                <th></th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for commandePriseEnCharge in commandesPreiseEnCharge %}
                                <tr>
                                    <td>{{commandePriseEnCharge.id}}</td>
                                    <td>{{commandePriseEnCharge.restaurantAdresse}}</td>
                                    <td>{{commandePriseEnCharge.dateCommande}}</td>
                                    <td>{{commandePriseEnCharge.livraisonAdresse}}</td>
                                    <td>{{commandePriseEnCharge.status}}</td>
                                    <td>
                                    {% if commandePriseEnCharge.status == "Prête à être expédié" %}

                                    <form method="post" id="commandeRecupere">
                                        <button typoe="submit" class="btn btn-dark">Commande récuperée</button>
                                        <input type="hidden" name="commandeRecupere" value="{{ commandePriseEnCharge.id }}"/>
                                    </form>

                                    {% elseif commandePriseEnCharge.status == "En cours de livraison" %}

                                    <form method="post" id="commandeLivre">
                                        <button typoe="submit" class="btn btn-outline-success">Commande livrée</button>
                                        <input type="hidden" name="commandeLivre" value="{{ commandePriseEnCharge.id }}"/>
                                    </form>

                                    {% endif %}
                                    
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
