{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block customstylesheets %}
    <link rel="stylesheet" type="text/css" href="css/back.css" media="all"/>
{% endblock %}

{% block body %}

<div class="card mx-auto" style="width: 18rem; margin-top: 10%">
    <div class="card-body">
        <h5 class="card-title">Se connecter</h5>
        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-dark">Connexion</button>
            <button type="button" onclick='window.location.href = "/register"' class="btn btn-light">Inscription</button>
        </form>
    </div>
</div>
{% endblock %}