{% extends 'base.html.twig' %}

{% block title %}Profil Livreur{% endblock %}

{% block customstylesheets %}
    <style>
        body {
            background-image: url('../images/backRest.jpg');
            background-size: cover;
        }
    </style>
{% endblock %}

{% block navbaritems %}
     <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard/livreur">Dashboard</a>
        <a class="nav-link" href="/profil/livreur">Profil</a>
    </div>
    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
        
            <div class="card mx-auto mt-5" style="width: 30rem;">
                <div class="card-body">
                    <h3 class="card-title">Livreur</h3>
                    {{ form_start(ProfilLivreurForm) }}
                        {{ form_row(ProfilLivreurForm.LI_Nom, {   label : "Votre nom" }) }}
                        {{ form_row(ProfilLivreurForm.LI_Prenom, {  label : "Votre prénom:" }) }}
                        {{ form_row(ProfilLivreurForm.LI_Mail, {  label : "Votre mail" }) }}
                        {{ form_row(ProfilLivreurForm.LI_Telephone, {  label : "Numéro de téléphone" }) }}
                        {{ form_row(ProfilLivreurForm.FK_VI, { label : "Ville" }) }}
                         {{ form_row(ProfilLivreurForm.vehicules, { label : "Vehicule" }) }}
                        <button type="submit" class="btn btn-dark">Sauvegarder</button>
                    {{ form_end(ProfilLivreurForm) }}
               

                </div>
            </div>

        </div>
        <div class="col">

            <div class="card mx-auto mt-5" style="width: 30rem;">
                <div class="card-body">
                  
                    {{ form_start(VehiculeForm) }}
                        {{ form_row(VehiculeForm.VE_Libelle, {   label : "Type de véhicule" }) }}
                        {{ form_row(VehiculeForm.VE_Immatriculation, {  label : "Votre immatriculation" }) }}                     
                        <button type="submit" class="btn btn-dark">Sauvegarder</button>
                    {{ form_end(VehiculeForm) }}
            
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}