{% extends 'base.html.twig' %}

{% block title %}Edition du Restaurant partie 1{% endblock %}

{% block customstylesheets %}
    <style>
        body {
            background-image: url('../images/backRest.jpg');
            background-size: cover;
        }

    </style>
{% endblock %}

{% block navbaritems %}

    <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard/restaurateur">Dashboard</a>
        <a class="nav-link" href="/profil/restaurateur">Profil</a>
    </div>

    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}

<div class="card mx-auto mt-3" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">Ajouter un nouveau restaurant</h5>
        {{ form_start(CreerRestaurantType) }}
            {{form_row(CreerRestaurantType.RE_Libelle, { label : "Nom du restaurant" })}}        
            {{form_row(CreerRestaurantType.RE_Adresse, { label : "Adresse du restaurant" })}}
            {{form_row(CreerRestaurantType.FK_VI_id, { label : "Ville" })}}
            {{form_row(CreerRestaurantType.categories, { label : "Categories" })}}
            <button type="submit" class="btn btn-dark">Suivant</button>
        {{ form_end(CreerRestaurantType) }}
  </div>
</div>

{% endblock %}