{% extends 'base.html.twig' %}

{% block title %}Hello DetailCommandeController!{% endblock %}

{% block body %}
{{ form_start(DetailCommandeType) }}
    {{form_row(DetailCommandeType.CO_AdresseDeLivraison ,{label: 'Adresse de livraison'})}}
    {{form_row(DetailCommandeType.FK_LI ,{label: 'Livreur'})}}
    {{form_row(DetailCommandeType.FK_CL ,{label: 'Client'})}}
{{ form_end(DetailCommandeType) }}
<table>
    <thead>
        <tr>
            <th>
                Libelle
            </th>
            <th>
                Quantité
            </th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>
                    {{article.article.getPALibelle()}}
                </td>
                <td>
                    {{article.compose.getCOQuantite()}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Etat
            </th>
        </tr>
    </thead>
    <tbody>
        {% for statu in status %}
            <tr>
                <td>
                    {{statu.st_libelle}}
                </td>
                <td>
                    {{statu.po_date}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
