{% extends 'base.html.twig' %}

{% block title %}Dashboard Client{% endblock %}

{% block navbaritems %}

    <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard/client">Dashboard</a>
        <a class="nav-link" href="/profil/client">Profil</a>
        <a class="nav-link" href="/client/commandeEnCours">Commandes</a>
        <a class="nav-link" href="/client/historiqueCommande">Historiques des Commandes</a>
    </div>

    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}

<div class="card mx-auto" style="width: 90rem; margin-top : 15px">
    <div class="card-body text-center">

        <ul class="nav nav-tabs justify-content-center">

            {% for restaurant in restaurants %}
                <li class="nav-item" style="margin-right: 5px">
                    {% if loop.index == 1 %}
                    <a href="#{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}" class="nav-link active" data-bs-toggle="tab">{{ restaurant.getRELibelle() }}</a>
                    {% else %}
                    <a href="#{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}" class="nav-link" data-bs-toggle="tab">{{ restaurant.getRELibelle() }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            
                
        </ul>

           
        <div class="tab-content">

            {% for restaurant in restaurants %}

                {% if loop.index == 1 %}
                <div class="tab-pane fade show active" id="{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}">
                {% else %}
                <div class="tab-pane fade" id="{{ (restaurant.getRELibelle() ~ loop.index)|replace({' ': ''}) }}">
                {% endif %}
                
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Plats</th>
                                                <th scope="col">Prix</th>
                                                <th scope="col">Quantite</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for plat in restaurant.getPlats() %}
                                                {% if plat.PAStock > 0 %}
                                                <tr>
                                                    <th>{{ plat.PALibelle }}</th>
                                                    <th>{{ plat.PAPrix }}</th>
                                                    <th><input id="{{plat.id}}" onchange="changementQuantite(this, {{plat.PAStock}})" type="number" min='0' max="{{plat.PAStock}}" value="0" class="form col-8"></th>
                                                    <th scope="col"><a class="btn btn-dark" id='ajouterPlat{{plat.id}}' onclick="addPanier({{plat.id}},{{restaurant.id}})">Ajouter au panier</th>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col">
                                    <div class="card mt-3" style="width: 30rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Votre Panier</h5>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Plat</th>
                                                        <th>Quantite</th>
                                                        <th>Prix</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody id="tbodyPanier{{restaurant.id}}">
                                                </tbody>
                                                <tfooter>
                                                    <tr id="tFooterPanier{{restaurant.id}}">
                                                    </tr>
                                                </tfooter>
                                            </table>
                                            <div>
                                                <button class="btn btn-dark" onClick="validerCommande({{restaurant.id}})">Valider la commande</button>
                                                <button class="btn btn-danger" onClick="annulerCommande()">Annuler la commande</button>
                                            </div>
                                        <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 
<script type="text/javascript">
$(document).ready(function(){
    $("[type='number']").keypress(function (evt) {
        evt.preventDefault();
    });
     $.ajax({
            url : '/panier',
            type : "POST"
        }).done(function(response){
            remplirLeTableau(response)
        })
})
    function addPanier(id){
        data = {'id' : id,
                'quantite' : $("#"+id).val()
                };
        $.ajax({
            url : '/panier/add',
            type : "POST",
            data : data
        }).done(function(response){
            remplirLeTableau(response)
        })
    }

    function changementQuantite(quantite, $stock){
        console.log(quantite.value)
    }

    function remplirLeTableau(response){
            total = [];
            restaurant = [];
            response.forEach(function(element){
                $("#tbodyPanier"+element.RestaurantId).empty();
                $("#tFooterPanier"+element.RestaurantId).empty();
            })

            response.forEach(function(element){
                
                total.push({ "prix" :  element.Quantite * element.Prix,
                            "restaurant" : element.RestaurantId })
                html = "<tr>" +
                "<th>" + element.Plat + "</th>" +
                "<th id='quantite"+element.RestaurantId+"'>" + element.Quantite + "</th>" +
                "<th id='prix'"+element.RestaurantId+">" + element.Prix + "</th>" +
                "<th><button class='btn btn-danger' value='"+ element.id+"' onClick='deletePlat(\""+ element.id + "\")'>Delete</button>" 
                "</tr>";

                $("#tbodyPanier"+element.RestaurantId).append(html);

            })

            total.forEach(function(el){
                console.log(el);
                if(restaurant.length <= 0){
                    restaurant.push(el.restaurant)
                }else if(restaurant.includes(el.restaurant)){
                    console.log('valeur Existe');
                }else{
                    restaurant.push(el.restaurant)
                }
            })

            restaurant.forEach(function(res){
                $totalRestau = 0;
                total.forEach(function(tot){
                    if(tot.restaurant == res){
                        $totalRestau += tot.prix;
                    }
                    $("#tFooterPanier"+res).html(
                       "<th></th>"+
                       "<th>Total : </th>"+
                       "<th>"+ $totalRestau+"<span class='small'>(+3€ de livraison)</span></th>"
                    );
                })
            })
    }

    function deletePlat(id){
        data = { 'id' : id }
        $.ajax({
            url : '/panier/remove',
            type : "POST",
            data : data
        }).done(function(response){
            remplirLeTableau(response)
        })
    }

    function validerCommande(restaurant){
        data = { "restaurantId" : restaurant}
       $.ajax({
            url : '/panier/valider',
            type : "POST",
            data : data
        }).done(function(response){
            location.reload();
        })
    }
    
    function annulerCommande(){
        $.ajax({
            url : '/panier/vider',
            type : "POST"
        }).done(function(response){
            location.reload();
        })
    }
</script>
{% endblock %}
